.log-in {
  width: 100%;
  max-width: 50vh;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
